<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Login</h1>

  <mat-form-field class="login-form__email" >
    <mat-label>Email:</mat-label>
    <input matInput type="email" formControlName="email" [(ngModel)]="user.email" placeholder="Ex.: admin@deepersignals.com">
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="email.hasError('email')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field class="login-form__password">
    <mat-label>Password:</mat-label>
    <input matInput type="password" [(ngModel)]="user.password" formControlName="password" placeholder="Ex.: password">
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="password.hasError('minlength')">
      Password must be more than 8 symbols
    </mat-error>
  </mat-form-field>

  <div class="login-form__subbmit_center">
    <button mat-flat-button color="primary" class="submit-button" [disabled]="!loginForm.valid" (click)="errorMessageSnackBar(errorMessage, 'close', 3)">Submit</button>
  </div>
</form>
